.app .team {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 5px;
    flex-wrap: wrap;
    max-width:100%;
    padding: 0px 100px;
    margin: 40px auto;
}
.app .team .container-km-team:hover
{
    align-items: center;
    cursor: pointer;
    margin-top: 10px;
    background-color:#ffffff!important;
    /* padding: 100px 20px; */
    /* transform: translateX(-140px); */
    transform: translateY(-10px);
    transition: all 1s ease-in-out;
box-shadow: 0px 0px 10px rgba(2, 2, 2,.17);
}
.app .team .container-km-team
{
    align-items: center;
  width: 250px;
    background-color:#01959a!important;
    /* padding: 100px; */

    border: none;
    outline: none;
}
.app .team .container-km-team:hover,.app .team .container-km-team .text-info-team{
    /* background-color: #feffff!important; */
    border-radius: 10px 2px 0px;
}
.app .team .container-km-team .img-team{
 max-width: 60%;
 margin:10px  auto;
 display: block;
 padding-top: 10px;
 border-radius: 50%;

}
.app .team .container-km-team .text-info-team{
    margin: 10px auto;
    font-size: 20px;
    font-weight: 500;
    background-color: #01959a!important;
    border-radius: 10px 2px 0px;
     width: 100%;
    padding: 10px;
    display: block;
    text-align: center;
    text-transform: capitalize;
    color: #ffffff!important;
}
.skill-team{
    color: rgb(2, 2, 2);
    font-weight: 700;
    margin: 10px auto;
}
@media screen and (min-width:300px) and (max-width:400px){
    .app .team {
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 10px;
        flex-wrap: wrap;
        width:100%;
        padding: 0px 30px!important;
        margin: 40px auto;
    }
    .app .team{
        display: flex;
flex-direction: column;
width: 100%;
margin: 10px auto;
    }
    .app .team .container-km-team
    {
        align-items: center;
        max-width: 300px!important;
        min-width: 200px;
        background-color:#01959a!important;
        /* padding: 100px; */
       margin: 10px auto;
        border: none;
        outline: none;
    }
}
@media screen and (min-width:400px) and (max-width:800px){
    .app .team{
        display: flex;
        align-items: center;

    }
    .app .team .container-km-team
{
    align-items: center;
    width: 300px!important;
    background-color:#01959a!important;
    /* padding: 100px; */
margin: auto;
    border: none;
    outline: none;
}
}
